.screen-header__setting-notification {
  background-color: tomato;
  border-radius: 50%;
  width: 5px;
  height: 5px;
  display: flex;
  position: absolute;
  top: -3px;
  right: -3px;
}

.screen-header__icons {
  position: relative;
  display: flex;
  align-items: center;
  gap: 10px;
}

.recommended-friends {
  margin: 20px 0px;
  padding: 25px 0px;
  border-top: var(--main-border);
  /* text-align: center; */
  border-bottom: var(--main-border);
  color: var(--color-grey);
}

.recommended-friends__title {
  font-size: 14px;
}

.recommended-friends span {
  margin: 100px 0px;
  display: block;
  text-align: center;
}

.open-chat__header {
  display: flex;
  justify-content: space-between;
  opacity: 0.7;
  margin-bottom: 17px;
}

.open-chat__header span {
  color: var(--color-grey);
}

.open-post {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0px;
  border-bottom: var(--main-border);
}

.open-post__title {
  font-weight: 600;
  margin-bottom: 7px;
}

.open-post__hashtags {
  text-transform: uppercase;
  opacity: 0.6;
}

.open-post__members {
  margin-top: 7px;
  display: flex;
  align-items: center;
}

.open-post__members img {
  width: 20px;
  height: 20px;
  border-radius: 35%;
  margin-right: 5px;
}

.open-post__member-count {
  opacity: 0.5;
  font-size: 14px;
}

.open-post__members .divider {
  width: 1.5px;
  height: 15px;
  background-color: var(--color-grey);
  margin: 0px 4px;
}

.open-post__members-status {
  color: rgb(248, 68, 185);
}

.open-post__photo {
  position: relative;
}

.open-post__photo img {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  position: relative;
}

.open-post__photo-heart {
  position: absolute;
  color: white;
  background-color: rgba(0, 0, 0, 0.3);
  padding: 5px;
  border-radius: 20px;
  display: flex;
  align-items: center;
  bottom: 5px;
  right: 5px;
  font-size: 12px;
}

.open-post__photo-heart span {
  margin-left: 3px;
}

@keyframes heartBeat {
  0% {
    color: white;
  }
  50% {
    color: tomato;
    transform: scale(2);
  }
  100% {
    color: white;
  }
}

.open-post__photo-heart i:hover {
  will-change: transform;
  animation: heartBeat 2s linear infinite;
}
